.picsline {
  display: flex;
  margin: 0 5%;
  background-color: white;
}
.picsline div{
  width: 300px;
  height: 442px;
  margin-right: 4em;
  margin-bottom: 4em;
}
.picsline div img {
  width: 300px;
  height: 410px;
  margin: 0 40px 0 0;
  box-sizing: border-box;
}
.picsline div a {
  height: 2em;
  width: fit-content;
  background-color: #ff900d;
  color: white;
  padding: 12px 16px;
}
.picsline div p {
  margin: 0.3em 0 1em 0;
  font-weight: bold;
}
.uppersection {
  display: flex;
  margin: 2em 0;
}
.uppersection label {
  margin: 0 75% 0 5%;
  font-weight: bold;
  font-size: 1.2em;
}
.uppersection a {
  text-decoration: underline;
  font-weight: bold;
}
.uppersection a:hover {
  cursor: pointer;
}
