.photo_grid {
  margin: 1em 0;
  display: flex;
  background-color: white;
}
#photoarea {
  opacity: 0.7;
}
#photoarea div {
  display: flex;
}
#photoarea img {
  height: 180px;
  width: 150px;
  border: #232347 solid 0.1px;
}
#rightgrid {
  padding: 3em;
  box-sizing: border-box;
}
#rightgrid h3 {
  font-size: 3em;
  margin: 0 0 1em 0;
}
#rightgrid a {
  height: 2em;
  width: fit-content;
  background-color: #ff900d;
  color: white;
  padding: 12px 16px;
}
#rightgrid a:hover {
  cursor: pointer;
}
