* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: rgba(240, 236, 236, 1);
}


.main{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    /* background: rgba(35, 35, 71, 1); */
    width: Fixed (1,360px)px;
    height: Hug (673.51px)px;
   /* top: 238px; */
   /* left: 40px; */
   padding: 24px;
   gap: 48px;
   border: 1px;
   opacity: 0px;
   background: rgba(255, 255, 255, 0.8);
   margin: 30px;

}
.top{
    display: flex;
    flex-direction: column;
gap: 16px;
opacity: 0px;

}
.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.line{
    width: 400px;
    height: 1px;
    background: rgb(216, 209, 209);
    
}
.piece{
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: left;

}
.signs{
    display: flex;
    gap: 10px;
}
.one{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(216, 209, 209);
    text-align: center;
    /* margin-bottom: 20px; */

}
.button{
    border: none;

}
.stock{
    color: green;
}
.center{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.secondPart{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    /* background: rgba(35, 35, 71, 1); */
    width: Fixed (1,360px)px;
    height: Hug (673.51px)px;
   /* top: 238px; */
   /* left: 40px; */
   padding: 24px;
   gap: 48px;
   border: 1px;
   opacity: 0px;
   background: rgba(255, 255, 255, 0.8);
   margin: 30px; 
   flex-direction: column;
}
.discription{
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    /* line-height: 17.07px; */
    text-align: left;
    color: rgba(35, 35, 71, 0.6);


}
.line2{
    width: 1200px;
    height: 2px;
    background:  rgb(245, 242, 242);
}
.reviews{
    text-decoration: underline rgb(255, 123, 0);
    color: rgba(35, 35, 71, 1);

}
.round{
    width: Hug (39px)px;
    height: Hug (23px)px;
    padding: 4px 8px 4px 8px;
    gap: 8px;
    border-radius: 30px 30px 30px 30px;
    opacity: 0px;
    background: rgba(255, 144, 13, 1);
    color: #ffff;

}
.showResult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    color: rgba(35, 35, 71, 1);

}
.sort{
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
/* line-height: 17.07px; */
text-align: left;
color: rgba(48, 48, 48, 1);


}
.thirdPart{
    width: Fixed (1,360px)px;
height: Hug (603px)px;
display: flex;
align-items: start;
flex-direction: column;
/* left: 40px; */
padding: 32px 24px 32px 24px;
gap: 12px;
border: 1px 0px 0px 0px;
opacity: 0px;
background: rgba(255, 255, 255, 0.8);
margin: 30px;
padding: 24px;

}
.designs{
    display: flex;
    justify-content: center;
    gap: 38px;
}
.suit{
    
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;
color: rgba(35, 35, 71, 1);

}
.eth{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    text-align: left;
    color: rgba(35, 35, 71, 1);

}