.hero{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    align-items: center;
    padding-left: 20px;
    font-size: small;
  }

  .Addproductbutton{
    margin-right: 20px;
    height: 30px;
    background-color: orange;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    border-radius: 5px;
   color: white;
  }

  .plus{
    width: 10px;
    padding-right: 2px;
  }