

.orange{
    padding: 3em 30em;
    color: white;
    background-color: #FF900D;;
}
.orange h3{
    font-size: 3em;
    text-align: center;
}
.orange label{
    font-size: 1.5em;
    margin-left: 30%;
    margin-bottom: 1em;
    
}
.orange div{
    margin-left: 30%;
    margin-top: 1em;
}
.orange input{
    width: 25em;
    height: 3em;
}
.orange div a{
    background-color: #232347;
    padding: 0.6em 0.9em 0.8em 0.9em;
    
}
.orange div a:hover{
    cursor: pointer;
}