.btn {
  background-color: #ff8a00;
  border: none;
  padding: 16px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 13px;
  font-weight: bold;
  font-family: Helvetica;
}

.btn-grey {
  background-color: #f0ecec;
}
