.firstpicclothes {
  display: flex;
  background-color: white;
  width: 100%;
  height: 40em;
  box-sizing: border-box;
}

#firstpicclothesone{
  width: 45%;
}
#firstpicclothestwo,
#firstpicclothesthree {
  width: 27.5%;
  height: 50em;
}

#firstpicclothesone p,
#firstpicclothesone h6 {
  color: black;
  font-size: 2.5em;
  margin-left: 20%;
  line-height: 1.3em;
  font-family: sans-serif;
  margin-top: 2em;
}
#firstpicclothesone h6 {
  color: black;
  font-size: 1.3em;
  margin-left: 20%;
  margin-top: 1em;
}

#firstpicclothesone p span {
  color: #FF900D;
}
#firstpicclothesone button {
  background-color: #FF900D;
  color: white;
  margin-left: 20%;
  margin-top: 3em;
  width: 180px;
  height: 44px;
  padding: 2px 0;
  border-radius: 8px;
  border: none;
}
body{
  background-color: #E9E9E9;
}


#firstpicclothestwo img,
#firstpicclothesthree img {
  height: 40em;
  width: 100%;
}
